@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .parallax {
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
}

.parallax-bg {
    position: absolute;
    top: -14rem;
    left: -7rem;
    width: 95px;
    height: 34px;
    background-image: url('../src/assets/buildingsOne.svg');
    /* Use your image path */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

:root {
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
    color-scheme: white;
}


* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer base {
    body {
        @apply font-sans text-n-1 text-base;
    }
}

.rotate-45 {
    @apply rotate-[45deg];
}

.rotate-90 {
    @apply rotate-[90deg];
}

.rotate-135 {
    @apply rotate-[135deg];
}

.rotate-180 {
    @apply rotate-[180deg];
}

.rotate-225 {
    @apply rotate-[225deg];
}

.rotate-270 {
    @apply rotate-[270deg];
}

.rotate-315 {
    @apply rotate-[315deg];
}

.rotate-360 {
    @apply rotate-[360deg];
}

.-rotate-45 {
    @apply rotate-[-45deg];
}

.-rotate-90 {
    @apply rotate-[-90deg];
}

.-rotate-135 {
    @apply rotate-[-135deg];
}

.-rotate-180 {
    @apply rotate-[-180deg];
}

.-rotate-225 {
    @apply rotate-[-225deg];
}

.-rotate-270 {
    @apply rotate-[-270deg];
}

.-rotate-315 {
    @apply rotate-[-315deg];
}

.-rotate-360 {
    @apply rotate-[-360deg];
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: #ced8ff;
    transition: 0.5s;
}

.container .dark {
    background: #222;
}